/* src/Box.css */
.box {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cardsForm {
    gap: 22px;
}

    @media only screen and (max-width: 767px) {
        .grid-container {
            grid-template-columns: 1fr !important;
        }
    }
  